html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html,
  body,
  .board-div {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
  }
  header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    margin: 0.5em 0;
  }
  
  /*
   * Styles for the board of cards
   */
  
  .board {
    width: 85%;
    background: #9370DB;
    padding: 1rem;
    box-shadow: 8px 9px 26px 0 #322747;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  
  .board .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.7rem;
    width: 3.7rem;
    margin: 0.2rem 0.2rem;
    background: #D3D3D3;
    font-size: 0;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 3px 1px 3px 0 #D3D3D3;
  }
  

  .progress {
    width: 660px;
    margin: 20px auto;
  }

  .board , .board .card , .card-timer , .card-restart , td {
    border-radius: 25px 10px 25px 10px;
  } 

  .board .card.open {
    background: #0d6efd;
    backface-visibility: visible !important;
    animation: bounce 0.5s ease infinite ;
  }

  .board .card.show {
    font-size: 73px;
  }

  .board .card.disabled {
    pointer-events: none;
    opacity: 0.9;
  }

  .board .card.match {
    animation: rotate 1s linear;
    cursor: default;
    background: #198754;
    font-size: 73px;
    backface-visibility: visible !important;
  }
  
  .board .card.unmatched {
    transform-style: preserve-3d;
    animation: flip 0.5s linear forwards ;
    backface-visibility: visible !important;
    background: #dc3545;
  }

  






  
  /****** Media queries
  ***************************/
  
  @media (max-width: 567px) {
    body .container-fluid {
        width: 520px;
    }

    .board {
      width: 95%;
    }
  
    .board .card {
      height: 70px;
      width: 70px;
    }

    .board .card.show , .board .card.match {
      font-size: 50px;
    }
  

    .progress {
        width: 495px;
      }
    
  }
  
  /* For Tablets and larger screens
  ****************/
  
  @media (min-width: 568px) {
  
    .board {
        width: 660px;
        height: 508px;
    }
  
    .board .card {
      height: 90px;
      width: 90px;
    }
  
  }

  .hithere {
    animation: bounce 1s ease infinite;
  }
  @keyframes bounce {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }

  @keyframes flip {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes rotate {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}
}

.card-timer , .card-restart {
    margin: 0 auto 5px;
    padding: 0px;
    width: 200px;
    text-align: center;
    box-shadow: 0 10px 10px -5px #909090;
    color: #fff;
    background: #333;
    cursor: pointer;
}

#countdown, #button-restart {
  font-size: 50px;
  text-shadow: 3px 3px 3px #141214;
  font-weight: bold;
}

.ranking-table {
  margin: 5px 0 5px 0;
  text-align: center;
}

.ranking-table .header{
  text-decoration: none;
  margin: 10px auto;
  font-weight: bold;
  font-size: 2em;
}

#tableauBody .top-pos , #tableauBody .mid-pos , #tableauBody .bot-pos {
  color: #000000;
}

#tableauBody .top-pos {
  background-color: #77ff21;
}

#tableauBody .mid-pos {
  background-color: #ffc107;
}

#tableauBody .bot-pos {
  background-color: #dc3545;
}
